body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7em;
    background-color: #ddd;
    color: #333;
    min-width: 1200px;
    padding-bottom: 60px;
}

.zahlavi {
    padding-top: 30px;
    background: url(vlnky.png);
    position: relative;
}

.zahlavi img {
    width: 100%;
    height: auto;
}

.autor {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}

.autor a {
    color: #ddd;
    font-size: 11px;
    text-decoration: none;
}

h1, h2 {
    font-weight: lighter;
    text-transform: lowercase;
    color: gray;
}

h1 {
    font-size: 300%;
    margin-bottom: 30px;
    padding-left: 30px;
    word-spacing: -0.2ex;
}

h1 .rok {
    color: rgb(204, 98, 95);
    font-style: italic;
}

a {
    color: rgb(204, 98, 95);
}

.sloupek {
    padding-left: 30px;
    float: left;
    box-sizing: border-box;
}

.my { width: 30%; }
.program { width: 25%; }
.koncerty { width: 45%; }

.nastroj, .kde {
    color: gray;
    white-space: nowrap;
}

.koncerty ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}
