@import url(fonts/stylesheet.css);

body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mundo Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    min-width: 1000px;
    font-weight: normal;
    background: url(vlnky.png);
    color: #333;
}

/* Image header */

.header {
    position: relative;
}

.header img {
    width: 100%;
    opacity: 0.9;
    height: auto;
}

.credits {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}

.credits a {
    color: #ddd;
    font-size: 11px;
    text-decoration: none;
}

/* Layout */

.content {
    width: 90%;
    min-width: 900px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 80px;
}

.about, .main {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.about {
    padding-right: 50px;
    text-align: right;
    width: 45%;
}

/* Content */

h1, h2 {
    font-size: 64px;
    font-weight: 200;
    line-height: 1.1em;
    text-transform: uppercase;
    margin-top: 1ex;
}

h1 {
    font-size: 64px;
    font-style: italic;
    color: #945200;
}

h1 .year {
    font-style: normal;
}

h2 {
    color: #941751;
}

a {
    color: #005493;
}

ul, p {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

ul {
    list-style: none;
}

ul.styled li:before {
    content: "— ";
    color: gray;
}

.partners {
    text-transform: uppercase;
}
