body {
    font: 16px/22px Georgia, serif;
}

.content {
    width: 500px;
    margin-top: 100px;
    margin-left: 520px;
}

h1 {
    text-indent: -9999px;
    width: 271px;
    height: 206px;
    background-image: url(nadpis.png);
    margin-top: -20px;
    margin-left: -5px;
}

img {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 420px;
}
